    <% if(messages.error){ %> 
      <div>
        <%= messages.error %>
      </div>
      <% } %>

      <% if(error_msg){ %> 
        <div>
          <%= error_msg %>
        </div>
        <% } %>

        <% if(success_msg){ %> 
          <div>
            <%= success_msg %>
          </div>
          <% } %>