<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h4>Welcome to Nobby Secrets</h4>
    <p>
        Log in if you are registered, or else register
    </p>
    <div>
        <a href="register" class="button-class">Register</a><a href="login" class="button-class">Login</a>
    </div>
</body>
</html>