<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/messages'); %>
    <title>Register</title>
</head>
<body>
    <h5>Register</h5>
    <div>
        <form id="register-form" class="register-form" action="/register" method="post">
            <input id="email" name="email" type="email" placeholder="Enter Email" required maxlength="50">
            <input id="password" name="password" type="password" placeholder="Enter Password" required maxlength="20">
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>