<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <meta http-equiv="Expires" content="Thu, 01 Jan 1970 00:00:00 GMT">
   <!-- <meta http-equiv='cache-control' content='no-cache'> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/messages'); %>
    <link rel="stylesheet" href="style.css">
    <title>Secret</title>
    <!-- Ruse below to stop back navigation to this page, not 100% since secret page momentarily shows
         Would be better to have a solution that is implemented on the index page -->
    <script type="text/javascript">
        function preventBack() {
            window.history.forward(); 
        }
        
        setTimeout("preventBack()", 0);
        
        window.onunload = function () { null };
    </script>

</head>
<body>
    <h5>Secret Stuff</h5>
    <P>"Yes, it's all a dream"</P>
    <div>
        <a href="logout" class="button-class">Logout</a>
    </div>
</body>
</html>